<!--todo:بررسی حجم فایل و نوع فایل سمت جیکویری
                بررسی ولیدیشن سمت جیکویری و دستورات ایجکس مانده-->
@*@model EmigrateCountryCreateDto*@
@model CreateEmigrateCountryMViewModel

@{
    var emgTTypeList = ViewBag.listOfEmgType;
    var countryList = ViewBag.listOfCountry;
}

@* Multi select DropdownList Style*@
<link href="~/node_modules/@@nobleclem/jquery-multiselect/jquery.multiselect.css" rel="stylesheet" />


@* اگر کشور جدیدی وجود داشته باشد ک نوع مهاجرت ان مشخص نشده باشد *@




@Html.AntiForgeryToken()
<form method="post" enctype="multipart/form-data" id="regForm">

    <!--Modal Header-->
    <partial name="~/Views/Shared/Partials/Modal/_ModalHeaderPartial.cshtml" model='new ModalHeader { Heading = "ویرایش نوع مهاجرت" }' />


    <!--Modal Body-->
    <div class="modal-body">

        <!--نام کشور-->
        <div class="form-group row">
            <label asp-for="CountryId" class="control-label"></label>
            <select asp-for="CountryId" class="form-control ">
                <option value="@Model.CountryId" selected> @countryList.Name</option>
            </select>
            <span asp-validation-for="CountryId" class="text-danger"></span>

        </div>

        <!--نام نوع مهاجرت-->
        <div class="form-group ">
            <label asp-for="EmigrationTypeId" class="control-label"></label>
            <select asp-for="EmigrationTypeId" asp-items="@(new SelectList(emgTTypeList,"Id","Name"))" class="form-control 3col active" multiple="multiple"></select>
            <span asp-validation-for="EmigrationTypeId" class="text-danger"></span>

        </div>


    </div>

    @*Modal Footer*@
    <div class="justify-content-start pl-3">
        <partial name="~/Views/Shared/Partials/Modal/_ModalFooterPartial.cshtml" model='new ModalFooter { SubmitButtonText = "ویرایش نوع مهاجرت" }' />
    </div>

</form>

@*ارسال فرم*@
<script>

        $(document).ready(function () {

            $("#regForm").submit(function (e) {

                e.preventDefault();
                ///برای جلوگیری از ثبت دوباره یک رکورد در دیتابیس
                ///to avoid duplicating recordes on database multiple times
                e.stopImmediatePropagation();

                ///دریافت مقادیر فرم
                var form = $(this);
                $.ajax({
                    type: "post",
                    url: '@Url.Action("EditEmigrateCountry", "EmigrateCountry", new { area = "AdminPanel"})',
                    cache: false,
                    data: form.serialize() ,

                }).done(function (result) {

                    //اگر ولیدیشن خطا داشت
                    if (result.status === "validationError") {

                        Swal.fire({
                            type: "error",
                            html: "<span class='text-dark ' style:'font-weight: bold'>" + result.message + "</span>",
                            animation: false,
                            confirmButtonColor: '#f44336',
                            confirmButtonText: 'تایید',
                            customClass: {
                                popup: 'animated tada'
                            }

                        });


                       // برای اینکه اگر بعد از درست کردن خطای ورودی پیام خطا پاک شود
                       //ابتدا تمام خطاهارا پاک میکنیم و سپس دوباره هرکدام خطا داشت نمایش میدهیم

                       //------------------ حذف تمام پیام های خطای اینپوت ها و کلاس خطای انها -------------------
                       for (var i = 0; i < $('span.field-validation-error').length; i++) {
                           $('span.field-validation-error').removeClass('field-validation-error')
                              .addClass("field-validation-valid") .text("");
                       };
                       //-------------------------- نمایش خطای اینپوت هایی که ولیدیشن را رعایت نکرده اند بعد از بررسی در سرورو ------------------------------------
                       for (var i = 0; i < result.errorKey.length; i++) {
                           $(`span[data-valmsg-for='${result.errorKey[i]}']`).removeClass("field-validation-valid")
                               .addClass("field-validation-error").text(result.errorMessages[i]);
                       };
                    }

                    if (result.status==="success") {
                          Swal.fire({
                              type: "success",
                              html: "<span class='text-dark ' style:'font-weight: bold'>" + result.message + "</span>",
                               animation: false,
                               confirmButtonColor: '#4caf50',
                               confirmButtonText: 'تایید',

                          }).then(function () {

                              //for displaying index view after finishing modal
                              window.location.href = '@Url.Action("Index", "CreateEmigrateCountry")';
                          });
                    }

                }).fail(function (XMLHttpRequest, textStatus, errorThrown) {

                     Swal.fire({
                         type: "error",
                         html: "<span class='text-dark ' style:'font-weight: bold'>خطایی رخ داده است لطفا دوباره تلاش کنید </span>",
                               animation: false,
                               confirmButtonColor: '#f44336',
                               confirmButtonText: 'تایید',
                               customClass: {
                                popup: 'animated tada'
                               }
                     });
                });
            });
        });
</script>


@* Multi select DropdownList *@
<script src="~/node_modules/@@nobleclem/jquery-multiselect/jquery.multiselect.js"></script>
<script>
    $(document).ready(function () {
        $('select[multiple].3col.active').multiselect({
            columns: 3,
            search: true,
            selectAll: true,
            showCheckbox: false,
            texts: {
                placeholder: 'یک  یا چند مورد از انواع مهاجرت را انتخاب کنید',
                search: 'جست و جو',
                selectAll: "انتخاب همه",
                unselectAll: "حذف همه انتخاب ها"
            },

        });

    });
</script>





