@model IEnumerable<CountryListDto>
@{
    ViewData["Title"] = "مدیریت کشورها";
}




<div class="card-body">
    <div>
        <a class="btn btn-primary" data-toggle="modal" id="all-index" asp-action="Create"
           data-target="#modal-action-book">
            <i class="fa fa-plus"></i>
            <span>افزودن  کشور</span>
        </a>
    </div>

    <table class="table table-striped table-sm table-bordered table-hover mt-3 text-center tableMobilize">
        <thead>
            <tr>

                <th>ردیف</th>
                <!-- Html Helper for dynamic implementing the property titles of the table(class= @@model IEnumerable<BookGroup>)-->
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th>@Html.DisplayNameFor(model => model.Description)</th>
                <th>عملیات</th>
            </tr>
        </thead>
        <tbody>
            @{
                int counter = 0;
            }
            @foreach (var item in Model)
            {
                <tr>
                    <td>@(counter++)</td>

                    <td>@item.Name</td>

                    <td>@item.Description</td>


                    <td class="align-middle">
                        <div class="dropdown dropright">
                            <a class=" dropdown-toggle" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown">
                                ...
                            </a>
                            <div class="dropdown-menu text-center">
                                <a class="btn btn-info p-2" data-toggle="modal" id="show-edit-book" asp-action="EditBook"
                                   data-target="#modal-action-country" asp-route-id="@item.Id">
                                    <i class="fa fa-pencil"></i>
                                    <span>ویرایش</span>
                                </a>
                                <a class="btn btn-danger p-2" data-toggle="modal" id="show-delete-book" asp-action="DeleteBook"
                                   data-target="#modal-action-country" asp-route-id="@item.Id">
                                    <i class="fa fa-trash"></i>
                                    <span>حذف</span>
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
            }

        </tbody>
    </table>

</div>
@section panelScript{
    <script>
        $(document).ready(function () {
            //ریسپانسیو کردن جدول-دستور پلاگین
            $('table').tableMobilize();
        });
    </script>
}
